
.mainSearchForm {
  margin-top: 15px;
}

#content {
  width: 90%;
  border-radius: 15px;
  border: 1px solid black;
  display: inline-block;
}

body {
  text-align: center;
  background-color: #101010;
  color: white;
}

.buttons {
  display: none;
  margin-top: 5px
}

.windows {
  display: none;
}

a {
  text-decoration: none;
}

#titleSection {
  background-color: #040404;
  color: white;
}
