.mainSearchForm {
  margin-top: 15px;
}

iframe {
  height: 500px;
  width: 80%;
}

#sb {
  display: inline-block;
  width: 100%;
}

#sb iframe {
  width: 49%;
}

body {
  text-align: center;
  background-color: gray;
}

.buttons {
  display: none;
}

.windows {
  display: none;
}
